In [25]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('indian_liver_patient.csv')

In [3]:
df.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1

In [4]:
df.describe()

,Age,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
count,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000,579.000000,583.000000
mean,44.746141,3.298799,1.486106,290.576329,80.713551,109.910806,6.483190,3.141852,0.947064,1.286449
std,16.189833,6.209522,2.808498,242.937989,182.620356,288.918529,1.085451,0.795519,0.319592,0.452490
min,4.000000,0.400000,0.100000,63.000000,10.000000,10.000000,2.700000,0.900000,0.300000,1.000000
25%,33.000000,0.800000,0.200000,175.500000,23.000000,25.000000,5.800000,2.600000,0.700000,1.000000
50%,45.000000,1.000000,0.300000,208.000000,35.000000,42.000000,6.600000,3.100000,0.930000,1.000000
75%,58.000000,2.600000,1.300000,298.000000,60.500000,87.000000,7.200000,3.800000,1.100000,2.000000
max,90.000000,75.000000,19.700000,2110.000000,2000.000000,4929.000000,9.600000,5.500000,2.800000,2.000000

In [5]:
df.shape

(583, 11)

In [8]:
df.isnull().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    4
Dataset                       0
dtype: int64

In [11]:
df['Albumin_and_Globulin_Ratio'].replace(np.nan, df['Albumin_and_Globulin_Ratio'].astype(float).mean(axis=0), inplace=True)

In [12]:
df.isnull().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    0
Dataset                       0
dtype: int64

In [15]:
df_columns = df.columns

predictors = df[df_columns[df_columns !='Dataset']]
target = df['Dataset']

In [16]:
predictors.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40

In [17]:
predictors=pd.get_dummies(predictors, columns=['Gender'])

In [18]:
predictors.head()

,Age,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Gender_Female,Gender_Male
0,65,0.7,0.1,187,16,18,6.8,3.3,0.90,1,0
1,62,10.9,5.5,699,64,100,7.5,3.2,0.74,0,1
2,62,7.3,4.1,490,60,68,7.0,3.3,0.89,0,1
3,58,1.0,0.4,182,14,20,6.8,3.4,1.00,0,1
4,72,3.9,2.0,195,27,59,7.3,2.4,0.40,0,1

In [20]:
Num_of_features = predictors.shape[1]
Num_of_features

11

In [26]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.25)

In [22]:
import keras

from keras.models import Sequential
from keras.layers import Dense
from keras.utils import to_categorical

In [23]:
import matplotlib.pyplot as plt

In [32]:
def classification_model():
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(Num_of_features,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1, activation='softmax'))

    model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
    return model

In [33]:
model = classification_model()

model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=10, verbose=2)

scores =model.evaluate(X_test, y_test, verbose=0)

Train on 437 samples, validate on 146 samples
Epoch 1/10
 - 2s - loss: -4.2456e+00 - accuracy: 0.7231 - val_loss: -4.8310e+00 - val_accuracy: 0.6849
Epoch 2/10
 - 0s - loss: -4.2456e+00 - accuracy: 0.7231 - val_loss: -4.8310e+00 - val_accuracy: 0.6849
Epoch 3/10
 - 0s - loss: -4.2456e+00 - accuracy: 0.7231 - val_loss: -4.8310e+00 - val_accuracy: 0.6849
Epoch 4/10
 - 0s - loss: -4.2456e+00 - accuracy: 0.7231 - val_loss: -4.8310e+00 - val_accuracy: 0.6849
Epoch 5/10
 - 0s - loss: -4.2456e+00 - accuracy: 0.7231 - val_loss: -4.8310e+00 - val_accuracy: 0.6849
Epoch 6/10
 - 0s - loss: -4.2456e+00 - accuracy: 0.7231 - val_loss: -4.8310e+00 - val_accuracy: 0.6849
Epoch 7/10
 - 0s - loss: -4.2456e+00 - accuracy: 0.7231 - val_loss: -4.8310e+00 - val_accuracy: 0.6849
Epoch 8/10
 - 0s - loss: -4.2456e+00 - accuracy: 0.7231 - val_loss: -4.8310e+00 - val_accuracy: 0.6849
Epoch 9/10
 - 0s - loss: -4.2456e+00 - accuracy: 0.7231 - val_loss: -4.8310e+00 - val_accuracy: 0.6849
Epoch 10/10
 - 0s - loss: -4.2456e+00 - accuracy: 0.7231 - val_loss: -4.8310e+00 - val_accuracy: 0.6849

In [34]:
print("Accuracy: {}% \n Error: {}".format(scores[1], 1 -scores[1]))

Accuracy: 0.6849315166473389%
 Error: 0.31506848335266113

In [37]:
pred=model.predict(X_test)
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, pred)
print(cm)

[[100   0]
 [ 46   0]]